
/********************************************************************************************
                                         start signup-2 form style
*********************************************************************************************/

.focus > li {
  margin-left: 10px;
}
section.account-signUp2 {
    background: rgba(0, 0, 0, 0) url("../image/lights-of-city.jpg") no-repeat;
    background-size:cover;
    position:relative;
    padding: 0px 0 100px;
}
.signup2-overlay {
    background: rgba(255,255,255,0.40);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.signup2-wrapper {
    margin: 0 auto;
    width: 540px;
    border-radius:5px;
    background:#fff;
    padding-bottom:0px;
}
.account-signUp2 .form-wrapper {
    border: medium none;
    padding: 0 33px;
}

/* cross icon */
.account-signUp2 .header i {
    color:#BDBDBD;
    background:#F8F8F8;
    cursor:pointer;
    border: 1px solid #EDEDED;
    padding: 4px;
    position: absolute;
    right: 14px;
    top: 14px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 100%;
}

/* form header */
.account-signUp2 .header {
    margin-bottom: 30px;
    padding: 33px 33px 0;
    position:relative;

}
.account-signUp2 .header h2 {
    color: #505b71;
    display: inline;
    font-weight: 600;
    margin-left: 18px;
    vertical-align: middle;
}

/* input form style */
.account-signUp2 .form-wrapper input {
    background:#F8F8F8;
    font-size: 18px;
    height: 50px;
    padding: 6px 15px;
    border: 2px solid #EBEBEB;
    box-shadow:none;
    transition:none;
}
.account-signUp2 .form-wrapper input:focus {
    background:none;
    border: 2px solid #C4D0E8;
    box-shadow:none;
}
.account-signUp2 input.fname, 
.account-signUp2 input.lname {
    display: inline-block;
    width: 48.1%;
}
input#exampleInputText1 {
    margin-right: 15px;
}

/* button style */
.account-signUp2 form button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-weight:600;
    border-radius: 4px;
    font-size: 18px;
    padding: 7px 25px;
    text-transform: capitalize;
}
.account-signUp2 .cancel {
    border: 1px solid #d8d8d8;
	color: #868686;
	margin-right: 15px;
	display: inline-block;
	padding: 8px 11px;
	border-radius: 4px;
	font-size: 16px;
}
.account-signUp2 .cancel:hover {
    border: 1px solid #375EAB;
    color: #375EAB;
}
.account-signUp2 .submit {
    background: #375eab none repeat scroll 0 0;
    border: medium none;
    color: white;
    padding: 8px 25px;
}
.account-signUp2 .submit:hover {
    background: #4371ca none repeat scroll 0 0;
}
.account-signUp2 footer {
    background: #f6f7f9 none repeat scroll 0 0;
    border-radius: 0 0 5px 5px;
    padding: 10px 33px;
    text-align: right;
    margin-top: 10px;
}
.account-signUp2 footer a {
    font-style: italic;
    margin-left: 5px;
}
/*******************************************************************************************************
                                         end signup-2 form style
*******************************************************************************************************/