@media (min-width: 1200px) {}


@media (min-width: 992px) and (max-width: 1199px) {
    body{
        background:orange;
    }

    /*******************************************************************************************************
                                        start signUp from style
    *******************************************************************************************************/
    /*******************************************************************************************************
                                        end signUp from style
    *******************************************************************************************************/








    /*******************************************************************************************************
                                            start signUp for account from style
    *******************************************************************************************************/
    /*******************************************************************************************************
                                            end signUp for account from style
    *******************************************************************************************************/







    /*******************************************************************************************************
                                             start LOGIN AND REGISTER form style
    *******************************************************************************************************/
    /*******************************************************************************************************
                                             end LOGIN AND REGISTER form style
    *******************************************************************************************************/






    /*******************************************************************************************************
                                                                                     start GREEN BACKGROUND LOGIN AND REGISTER form style
    *******************************************************************************************************/
    /*******************************************************************************************************
                                                                                     end GREEN BACKGROUND LOGIN AND REGISTER form style
    *******************************************************************************************************/






    /********************************************************************************************
                                      start LOGIN ACCOUNT WITH SOCIAL ICON form style
    ********************************************************************************************/
    .login-account-with-social-icon .login-register-wrapper {
        width: 800px;
    }
    .login-account-with-social-icon .login {
        width: 450px;
    }
    .login-account-with-social-icon .social-icon {
        width: 350px;
    }
    .login-account-with-social-icon .social-icon .wrapper {
        margin: 109px 0 0 58px;
    }
    /**************************************************************************************
                         end LOGIN ACCOUNT WITH SOCIAL ICON form style
    **************************************************************************************/







    /*******************************************************************************************************
                                     start signup-2 form style
    *******************************************************************************************************/
    /*******************************************************************************************************
                                     end signup-2 form style
    *******************************************************************************************************/








    /*******************************************************************************************************
                                     start MODERN FORM form style
    *******************************************************************************************************/
    /*******************************************************************************************************
                                                                                     end MODERN FORM form style
    *******************************************************************************************************/

}/* end media Query */
/*----------------------------------------end orange------------------------------------------------------*/



@media (min-width: 768px) and (max-width: 991px) {
    body{
        background:pink;
    }

    /*******************************************************************************************************
                                            start signUp from style
    *******************************************************************************************************/
    .signUp-wrapper {
        width: 570px;
        padding: 40px 50px;
    }
    .signUp-wrapper button {
        float: none;
        margin-top: 10px;
    }
    /*******************************************************************************************************
                                            end signUp from style
    *******************************************************************************************************/








    /*******************************************************************************************************
                                            start signUp for account from style
    *******************************************************************************************************/
    section.account-signUp {
        background-size: cover;
    }
    /*******************************************************************************************************
                                            end signUp for account from style
    *******************************************************************************************************/








    /*******************************************************************************************************
                                             start LOGIN AND REGISTER form style
    *******************************************************************************************************/
    section.login-register {
        background-size: cover ;
    }
    /*******************************************************************************************************
                                             end LOGIN AND REGISTER form style
    *******************************************************************************************************/








    /*******************************************************************************************************
                                                                                     start GREEN BACKGROUND LOGIN AND REGISTER form style
    *******************************************************************************************************/
    /*******************************************************************************************************
                                                                                     end GREEN BACKGROUND LOGIN AND REGISTER form style
    *******************************************************************************************************/







    /*******************************************************************************************************
                                     start LOGIN ACCOUNT WITH SOCIAL ICON form style
    *******************************************************************************************************/
    .login-account-with-social-icon .login-register-wrapper {
        width: 718px;
    }
    .login-account-with-social-icon .login {
        width: 440px;
    }
    .login-account-with-social-icon .social-icon {
        width: 278px;
    }
    .login-account-with-social-icon .login input[type="text"], 
    .login-account-with-social-icon .login input[type="password"] {
        width: 318px;
    }
    .login-account-with-social-icon .social-icon .wrapper {
        margin: 117px 0 0 25px;
    }
    /*******************************************************************************************************
                                    end LOGIN ACCOUNT WITH SOCIAL ICON form style
    *******************************************************************************************************/







    /*******************************************************************************************************
                                     start signup-2 form style
    *******************************************************************************************************/
    /*******************************************************************************************************
                                     end signup-2 form style
    *******************************************************************************************************/









    /*******************************************************************************************************
                                     start MODERN FORM form style
    *******************************************************************************************************/
    /*******************************************************************************************************
                                    end MODERN FORM form style
    *******************************************************************************************************/

} /* end media Query */
/* ----------------------------------------end pink---------------------------------------------------------- */



@media (min-width: 600px) and (max-width: 767px) {
    body{
        background:skyblue;
    }

    /*******************************************************************************************************
                                            start signUp from style
    *******************************************************************************************************/
    .signUp-wrapper {
        width: 500px;
        padding: 40px 50px;
    }
    .signUp-wrapper p {
        margin: 5px 0 30px;
    }
    .signUp-wrapper .checkbox {
        display: inherit;
    }
    .signUp-wrapper button {
        float: none;
        margin-top: 10px;
    }
    /*******************************************************************************************************
                                            end signUp from style
    *******************************************************************************************************/







    /*******************************************************************************************************
                                            start signUp for account from style
    *******************************************************************************************************/
    section.account-signUp {
        background-size: cover;
    }
    h1.signUp-header {
        margin: 0;
    }
    .signUp-p {
        margin: 7px 0 60px;
    }
    .account-signUp-wrapper {
        width: 490px;
    }
    .soical-media {
        bottom: -26px;
        position: absolute;
    }
    .soical-media .twitter > button::before,
    .soical-media .facebook > button::before {
        font-size: 34px;
        height: 52px;
        padding: 4px;
        width: 52px;
    }
    .soical-media .twitter > button, .soical-media .facebook > button {
        font-size: 22px;
        height: 52px;
        padding: 10px 12px 12px 55px;
        width: 176px;
    }
    /*******************************************************************************************************
                                            end signUp for account from style
    *******************************************************************************************************/








    /*******************************************************************************************************
                                             start LOGIN AND REGISTER form style
    *******************************************************************************************************/
    section.login-register {
        background-size: cover ;
    }
    h1.login-register-header {
        font-size: 50px;
    }
    .login-register-p {
        margin: -3px 0 40px 15px;
    }
    .login-register-wrapper {
        width: 550px;
    }
    .form-wrapper .fb-login {
        font-size: 14px;
        padding: 9px 6px 12px 54px;
        width: 210px;
        height: 46px;
    }
    .fb-login span {
        font-size: 16px;  
    }
    .fb-login::after {
        font-size: 28px;
        height: 46px;
        width: 46px;
    }
    .login.pull-left::after {
        display: none;
    }

    .login, .register {
        padding: 40px 10px;
        width: 263px;
    }
    .login input[type="text"], .login input[type="password"] {
        padding-bottom: 9px;
    }
    /*******************************************************************************************************
                                    end LOGIN AND REGISTER form style
    *******************************************************************************************************/








    /*******************************************************************************************************
                                     start GREEN BACKGROUND LOGIN AND REGISTER form style
    *******************************************************************************************************/
    .green-background .login-register-wrapper {
        width: 568px;
    }
    .green-background .login, .register {
        width: 276px;
    }
    /*******************************************************************************************************
                                     end GREEN BACKGROUND LOGIN AND REGISTER form style
    *******************************************************************************************************/








    /*******************************************************************************************************
                                 start LOGIN ACCOUNT WITH SOCIAL ICON form style
    *******************************************************************************************************/
    .login-account-with-social-icon .login-register-wrapper {
        width: 500px;
    }
    .login-account-with-social-icon .login {
        width: 100%;
        padding: 23px;
    }

    .login-account-with-social-icon .login input[type="text"], 
    .login-account-with-social-icon .login input[type="password"] {
        width: 350px;
    }
    .login-account-with-social-icon .social-icon .wrapper {
        margin: 117px 0 0 25px;
    }
    .login-account-with-social-icon .login-register-form-header h2 {
        margin: 0 0 30px;
    }


    /* special class */
    .forResponsiveDesign{
        display:block!important;
        width: 100% !important;
    }
    .login-account-with-social-icon .social-icon {
        display: none;
        margin-bottom: 30px;
    }
    /* end special class */	

    .forResponsiveDesign .wrapper {
        margin: 0 !important;
    }

    /*******************************************************************************************************
                                     end LOGIN ACCOUNT WITH SOCIAL ICON form style
    *******************************************************************************************************/







    /*******************************************************************************************************
                                     start signup-2 form style
    *******************************************************************************************************/
    /*******************************************************************************************************
                                     end signup-2 form style
    *******************************************************************************************************/








    /*******************************************************************************************************
                                     start MODERN FORM form style
    *******************************************************************************************************/
    /* login form */
    .modern-form-body {
        width: 100%;
    }
    .bySocialLogin, .byInputLogin {
        padding: 0 20px;
    }
    .bySocialLogin {
        padding-top: 15px;
    }
    .bySocialLogin .fb, .modern-form .twt {
        font-size: 14px;
        margin: 0 auto 20px;
        padding: 8px 8px 8px 50px;
        width: 203px;
    }
    .bySocialLogin .fb::after, 
    .modern-form .twt::after {
        font-size: 26px;
        padding: 3px;
        width: 40px;
    }
    .modern-form .fb > span, 
    .modern-form .twt > span {
        font-size: 17px;
    }
    .bySocialLogin .or {
        font-size: 12px;
        right: -6px;
    }
    .bySocialLogin::after {
        height: 177px;
    }
    .modern-form .byInputLogin.pull-right button, .rButton {
        font-size: 18px;
        padding: 8px 35px;
    }

    /* register form */
    .modern-form input#exampleInputText1, 
    .modern-form input#exampleInputText2 {
        float: left;
        width: 48.3%;
    }
    /*******************************************************************************************************
                                        end MODERN FORM form style
    *******************************************************************************************************/

}/* end media Query */
/* ------------------------------------------end skyblue-------------------------------------------------- */


@media (min-width: 400px) and (max-width: 599px) {
    body{
        background:yellow;
    }

    /*******************************************************************************************************
                                            start signUp from style
    *******************************************************************************************************/
    .signUp-wrapper {
        width: 100%;
        padding: 30px 30px;
    }
    .signUp-wrapper h1 {
        font-size: 28px;
    }
    .signUp-wrapper p {
        margin: 5px 0 30px;
    }
    .signUp-wrapper .form-control {
        font-size: 15px;
        padding: 8px 13px;
    }
    .signUp-wrapper .checkbox {
        display: inherit;
    }
    .checkbox label {
        font-size: 12px;
    }
    .signUp-wrapper button {
        float: none;
        font-size: 15px;
        padding: 9px 26px;
    }
    /*******************************************************************************************************
                                            end signUp from style
    *******************************************************************************************************/








    /*******************************************************************************************************
                                           start signUp for account from style
    *******************************************************************************************************/
    section.account-signUp {
        background-size: cover;
    }
    h1.signUp-header {
        margin: 0;
        font-size: 40px;
    }
    .signUp-p {
        margin: 7px 0 60px;
    }
    .account-signUp-wrapper {
        width: 350px;
    }
    .form-header {
        padding: 30px 20px 20px 20px;
    }
    .form-header img {
        height: 50px;
        left: 20px;
        width: 50px;
    }
    .form-header h2 {
        font-weight: 600;
        margin-left: 55px;
        font-size: 28px;
    }
    .form-header > p {
        margin: 4px 0 30px 55px;
    }
    .soical-media {
        bottom: 0;
        position: relative;
    }
    .soical-media .twitter,
    .soical-media > .facebook {
        display: block;
        width: 188px;
        margin: 15px auto;
    }
    .soical-media > span {
        display: none;
    }
    .soical-media .twitter > button::before,
    .soical-media .facebook > button::before {
        font-size: 34px;
        height: 52px;
        padding: 4px;
        width: 52px;
    }
    .soical-media .twitter > button,
    .soical-media .facebook > button {
        font-size: 22px;
        height: 52px;
        padding: 10px 12px 12px 50px;
        width: 186px;
    }
    .account-signUp-wrapper form {
        padding: 20px 20px 0;
    }
    .account-signUp-wrapper input[type="email"], 
    .account-signUp-wrapper input[type="password"] {
        box-shadow: none;
        font-size: 18px;
        height: 46px;
        padding: 7px 10px 10px 68px;
    }
    .account-signUp-wrapper input[type="email"] {
        background: #f5f5f5 url("../image/envelope.png") no-repeat scroll 15px 3px;
    }
    .account-signUp-wrapper input[type="password"] {
        background: #f5f5f5 url("../image/key.png") no-repeat scroll 15px 4px;
    }
    .account-signUp-wrapper form button {
        font-size: 20px;
        padding: 12px 31px;
        line-height: 23px;
    }
    /*******************************************************************************************************
                                        end signUp for account from style
    *******************************************************************************************************/








    /*******************************************************************************************************
                                        start LOGIN AND REGISTER form style
    *******************************************************************************************************/
    section.login-register {
        background-size: cover ;
    }
    h1.login-register-header {
        font-size: 55px;
    }
    .login-register-p {
        font-size: 17px;
        margin: -3px 0 40px 65px;
    }
    .login-register-wrapper {
        width: 354px;
    }

    .login-register-form-header {
        height: 79px;
        padding: 15px;
    }
    .login-register-form-header img {
        height: 50px;
        width: 50px;
    }
    .login-register-form-header h2 {
        font-size: 16px;
        margin-left: 62px;
        margin-top: 16px;
    }
    .border-img {
        margin: 25px 0;
    }

    .form-wrapper .fb-login {
        font-size: 14px;
        padding: 9px 6px 12px 54px;
        width: 210px;
        height: 46px;
    }
    .fb-login span {
        font-size: 16px;  
    }
    .fb-login::after {
        font-size: 28px;
        height: 46px;
        width: 46px;
    }

    .login.pull-left::after {
        display: none;
    }
    .login, .register {
        padding: 40px 25px;
        width: 100%;
        float: none;
    }
    .login.pull-left {
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
    .register.pull-left {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
    /*******************************************************************************************************
                                        end LOGIN AND REGISTER form style
    *******************************************************************************************************/







    /*******************************************************************************************************
                                     start GREEN BACKGROUND LOGIN AND REGISTER form style
    *******************************************************************************************************/
    .green-background .login-register-wrapper {
        width: 354px;
    }
    .green-background .login-register-form-header h2 {
        font-size: 32px;
    }
    /*******************************************************************************************************
                                    end GREEN BACKGROUND LOGIN AND REGISTER form style
    *******************************************************************************************************/







    /*******************************************************************************************************
                                     start LOGIN ACCOUNT WITH SOCIAL ICON form style
    *******************************************************************************************************/
    .login-account-with-social-icon .login-register-wrapper {
        width: 100%;
    }
    .login-account-with-social-icon .login {
        width: 100%;
        border: 0 none;
        padding: 10px;
    }

    .login-account-with-social-icon .login input[type="text"], 
    .login-account-with-social-icon .login input[type="password"] {
        width: 70%;
    }
    .login-account-with-social-icon .social-icon .wrapper {
        margin: 117px 0 0 25px;
    }
    .login-account-with-social-icon .login-register-form-header h2 {
        margin: 0 0 30px;
    }

    /* social-icon */
    .login-account-with-social-icon .social-icon a {
        margin-right: 12px;
    }
    .login-account-with-social-icon .social-icon a i {
        font-size: 22px;
        height: 40px;
        padding: 8px;
        width: 40px;
    }
    .login-account-with-social-icon .social-icon a:hover i {
        color:white;
        border-color:white;
    }
    .login-account-with-social-icon .social-icon i::after {
        display: none;
    }


    /* special class */
    .forResponsiveDesign{
        display:block!important;
        width: 100% !important;
    }
    .login-account-with-social-icon .social-icon {
        display: none;
        margin-bottom: 30px;
    }
    /* end special class */	

    .forResponsiveDesign .wrapper {
        margin: 0 !important;
    }
    /*******************************************************************************************************
                                     end LOGIN ACCOUNT WITH SOCIAL ICON form style
    *******************************************************************************************************/







    /*******************************************************************************************************
                                     start signup-2 form style
    *******************************************************************************************************/
    .signup2-wrapper {
        width: 100%;
    }
    .account-signUp2 input[type="text"] {
        display: block;
        width: 100%;
    }
    .account-signUp2 input#exampleInputText1 {
        margin-bottom: 25px;
        margin-right: 0;
    }
    /*******************************************************************************************************
                                     end signup-2 form style
    *******************************************************************************************************/








    /*******************************************************************************************************
                                     start MODERN FORM form style
    *******************************************************************************************************/
    /* login form */
    .modern-form-body {
        width: 100%;
    }
    .modern-form-body .header h2 {
        font-size: 26px;
    }
    .form-tab ul#myTabs {
        margin: 0 auto 45px;
        width: 303px;
    }
    .form-tab ul li > a {
        font-size: 20px;
        padding: 6px 44px;
    }
    .forOptionFrom > span {
        font-size: 16px;
        height: 56px;
        left: 121px;
        padding: 17px;
        top: -9px;
        width: 56px;
    }
    .modern-form .login-form-wrapper h3 {
        margin: 0 0 30px;
        text-align: center;
        font-size: 20px;
    }
    .bySocialLogin, .byInputLogin {
        padding: 0 20px;
        width: 100%;
        float: none;
    }
    .bySocialLogin::after {
        display: none;
    }
    .bySocialLogin {
        padding-top: 15px;
    }
    .bySocialLogin .fb, .modern-form .twt {
        font-size: 14px;
        margin: 0 auto 20px;
        padding: 8px 8px 8px 50px;
        width: 203px;
    }
    .bySocialLogin .fb::after, 
    .modern-form .twt::after {
        font-size: 26px;
        padding: 3px;
        width: 40px;
    }
    .modern-form .fb > span, 
    .modern-form .twt > span {
        font-size: 17px;
    }
    .bySocialLogin .or {
        display: none;
    }
    .bySocialLogin::after {
        height: 177px;
    }
    .modern-form .byInputLogin.pull-right button, .rButton {
        font-size: 18px;
        padding: 8px 35px;
    }

    /* register form */
    .modern-form input#exampleInputText1, 
    .modern-form input#exampleInputText2 {
        float: none;
        width: 100%;
    }
    /*******************************************************************************************************
                                         end MODERN FORM form style
    *******************************************************************************************************/



} /* end media Query */
/* -----------------------------------------end yellow-------------------------------------------------------- */



@media (max-width: 400px) {
    body{
        background:green
    }

    /*******************************************************************************************************
                                         start signUp from style
    *******************************************************************************************************/
    .signUp-wrapper {
        width: 100%;
        padding: 20px 20px;
    }
    .signUp-wrapper h1 {
        font-size: 21px;
    }
    .signUp-wrapper p {
        margin: 5px 0 30px;
        font-size: 12px; 
    }
    .signUp-wrapper label {
        font-size: 12px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .signUp-wrapper .form-control {
        font-size: 14px;
        padding: 6px 9px;
        border: 1px solid #c5e2e6;
    }
    .signUp-wrapper .checkbox {
        display: inherit;
    }
    .checkbox label::before {
        position: absolute;
        top: 4px;
    }
    .checkbox label {
        font-size: 12px;
    }
    .signUp-wrapper button {
        float: none;
        font-size: 13px;
        padding: 8px 22px;
    }
    /*******************************************************************************************************
                                             end signUp from style
    *******************************************************************************************************/









    /*******************************************************************************************************
                                            start signUp for account from style
    *******************************************************************************************************/
    section.account-signUp {
        background-size: cover;
    }
    h1.signUp-header {
        margin: 0;
        font-size: 33px;
    }
    .signUp-p {
        margin: 7px 0 40px;
    }
    .account-signUp-wrapper {
        width: 100%;
    }
    .form-header {
        padding: 30px 20px 20px 20px;
    }
    .form-header img {
        height: 40px;
        left: 20px;
        width: 40px;
    }
    .form-header h2 {
        font-size: 20px;
        font-weight: 600;
        margin-left: 55px;
    }
    .form-header > p {
        margin: 4px 0 30px 55px;
    }
    .soical-media {
        bottom: 0;
        position: relative;
    }
    .soical-media .twitter,
    .soical-media > .facebook {
        display: block;
        width: 188px;
        margin: 15px auto;
    }
    .soical-media > span {
        display: none;
    }
    .soical-media .twitter > button::before,
    .soical-media .facebook > button::before {
        font-size: 28px;
        height: 48px;
        padding: 4px;
        width: 48px;
    }
    .soical-media .twitter > button,
    .soical-media .facebook > button {
        font-size: 19px;
        height: 48px;
        padding: 9px 12px 12px 40px;
        width: 176px;
    }
    .account-signUp-wrapper form {
        padding: 20px 20px 0;
    }
    .account-signUp-wrapper input[type="email"], 
    .account-signUp-wrapper input[type="password"] {
        box-shadow: none;
        font-size: 18px;
        height: 46px;
        padding: 7px 10px 10px 68px;
    }
    .account-signUp-wrapper input[type="email"] {
        background: #f5f5f5 url("../image/envelope.png") no-repeat scroll 15px 3px;
    }
    .account-signUp-wrapper input[type="password"] {
        background: #f5f5f5 url("../image/key.png") no-repeat scroll 15px 4px;
    }
    .account-signUp-wrapper form button {
        font-size: 20px;
        padding: 12px 31px;
        line-height: 23px;
    }
    /*******************************************************************************************************
                                            end signUp for account from style
    *******************************************************************************************************/








    /*******************************************************************************************************
                                             start LOGIN AND REGISTER form style
    *******************************************************************************************************/
    section.login-register {
        background-size: cover ;
    }
    h1.login-register-header {
        font-size: 39px;
    }
    .login-register-p {
        font-size: 14px;
        margin: -3px 0 40px 0px;
    }
    .login-register-wrapper {
        width: 100%;
    }

    .login-register-form-header {
        height: 73px;
        padding: 15px;
    }
    .login-register-form-header img {
        height: 40px;
        width: 40px;
    }
    .login-register-form-header h2 {
        font-size: 16px;
        margin-left: 51px;
        margin-top: 10px;
    }
    .border-img {
        margin: 25px 0;
    }

    .form-wrapper .fb-login {
        font-size: 14px;
        padding: 9px 6px 12px 54px;
        width: 210px;
        height: 46px;
    }
    .fb-login span {
        font-size: 16px;  
    }
    .fb-login::after {
        font-size: 28px;
        height: 46px;
        width: 46px;
    }

    .login.pull-left::after {
        display: none;
    }
    .login, .register {
        padding: 40px 18px;
        width: 100%;
        float: none;
    }
    .login.pull-left {
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
    .register.pull-left {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
    .login .checkbox label {
        font-size: 15px;
    }
    .login button.pull-right, .register button.pull-right {
        float: none !important;
        display: block;
        margin-top: 14px;
    }
    /*******************************************************************************************************
                                             end LOGIN AND REGISTER form style
    *******************************************************************************************************/









    /*******************************************************************************************************
                                     start GREEN BACKGROUND LOGIN AND REGISTER form style
    *******************************************************************************************************/
    .green-background .login-register-wrapper {
        width: 100%;
    }
    .green-background .login-register-form-header h2 {
        font-size: 22px;
    }
    .green-background .login-register-form-header > p {
        font-size: 13px;
        margin: 5px 0;
    }
    /*******************************************************************************************************
                                     end GREEN BACKGROUND LOGIN AND REGISTER form style
    *******************************************************************************************************/







    /*******************************************************************************************************
                                     start LOGIN ACCOUNT WITH SOCIAL ICON form style
    *******************************************************************************************************/
    .login-account-with-social-icon .login-register-wrapper {
        width: 100%;
    }
    .login-account-with-social-icon .login {
        width: 100%;
        border: 0 none;
        padding: 0px;
    }
    .login-account-with-social-icon .login-register-form-header h2 {
        margin: 0 0 20px;
        font-size: 25px;
    }

    .login-account-with-social-icon .social-icon .wrapper {
        margin: 117px 0 0 25px;
    }

    /* social-icon */
    p.social-title {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .login-account-with-social-icon .social-icon a {
        margin-right: 12px;
    }
    .login-account-with-social-icon .social-icon a i {
        font-size: 22px;
        height: 40px;
        padding: 8px;
        width: 40px;
    }
    .login-account-with-social-icon .social-icon a:hover i {
        color:white;
        border-color:white;
    }
    .login-account-with-social-icon .social-icon i::after {
        display: none;
    }


    /* form style */
    .login-account-with-social-icon label {
        font-size: 15px;
    }
    .login-account-with-social-icon .login input[type="text"], 
    .login-account-with-social-icon .login input[type="password"] {
        width: 60%;
    }
    .login-account-with-social-icon input[type="password"] {
        margin-left: 22px !important;
    }


    /* special class */
    .forResponsiveDesign{
        display:block!important;
        width: 100% !important;
    }
    .login-account-with-social-icon .social-icon {
        display: none;
        margin-bottom: 30px;
    }
    /* end special class */	

    .forResponsiveDesign .wrapper {
        margin: 0 !important;
    }

    /* checkbox */
    .login-account-with-social-icon .checkbox > label{
        display: block;
        width: 100%;
    }
    .login-account-with-social-icon form button {
        margin-top: 30px !important;
        padding: 3px 29px !important;
    }
    .login-account-with-social-icon .checkbox label::before {
        display: inline-block;
        height: 18px;
        width: 18px;
    }
    .login-account-with-social-icon .checkbox input[type="checkbox"]:checked + label::before {
        font-size: 12px;
        line-height: 12px;
    }
    /*******************************************************************************************************
                                     end LOGIN ACCOUNT WITH SOCIAL ICON form style
    *******************************************************************************************************/







    /*******************************************************************************************************
                                     start signup-2 form style
    *******************************************************************************************************/
    .signup2-wrapper {
        width: 100%;
    }

    /* header */
    .account-signUp2 .header {
        padding: 35px 25px 0;
    }
    .forMobileDevice img {
        height: 40px;
        width: 40px;
    }
    .account-signUp2 .header h2 {
        margin-left: 8px;
        font-size: 27px;
    }

    .account-signUp2 input[type="text"] {
        display: block;
        width: 100%;
    }
    input#exampleInputText1 {
        margin-bottom: 25px;
        margin-right: 0;
    }

    /* button */
    .buttonWrapper {
        float: none !important;
    }
    .account-signUp2 form button {
        width: 100%;
    }
    .account-signUp2 .cancel {
        margin-bottom: 15px;
        margin-right: 0;
    }
    .account-signUp2 footer {
        text-align: left;
        font-size: 12px;
    }
    /*******************************************************************************************************
                                     end signup-2 form style
    *******************************************************************************************************/









    /*******************************************************************************************************
                                     start MODERN FORM form style
    *******************************************************************************************************/
    /* login form */
    .modern-form-body {
        width: 100%;
        padding: 25px 0 0px;
    }
    .modern-form-body .header h2 {
        font-size: 26px;
    }
    .form-tab ul#myTabs {
        margin: 0 auto 45px;
        width: 245px;
    }
    .form-tab ul li > a {
        font-size: 18px;
        padding: 6px 33px;
    }
    .forOptionFrom > span {
        font-size: 14px;
        height: 48px;
        left: 96px;
        padding: 14px;
        top: -6px;
        width: 48px;
    }
    .form-tab ul li:last-child > a {
        padding: 6px 24px 6px 42px;
    }
    .modern-form .login-form-wrapper h3 {
        margin: 0 0 30px;
        text-align: center;
        font-size: 20px;
    }
    .bySocialLogin, .byInputLogin {
        padding: 0 20px;
        width: 100%;
        float: none;
    }
    .bySocialLogin::after {
        display: none;
    }
    .bySocialLogin {
        padding-top: 15px;
    }
    .bySocialLogin .fb, .modern-form .twt {
        font-size: 14px;
        margin: 0 auto 20px;
        padding: 8px 8px 8px 50px;
        width: 203px;
    }
    .bySocialLogin .fb::after, 
    .modern-form .twt::after {
        font-size: 26px;
        padding: 3px;
        width: 40px;
    }
    .modern-form .fb > span, 
    .modern-form .twt > span {
        font-size: 17px;
    }
    .bySocialLogin .or {
        display: none;
    }
    .bySocialLogin::after {
        height: 177px;
    }
    .modern-form .byInputLogin.pull-right button, .rButton {
        font-size: 18px;
        padding: 8px 35px;
    }

    /* register form */
    .modern-form input#exampleInputText1, 
    .modern-form input#exampleInputText2 {
        float: none;
        width: 100%;
    }
    /*******************************************************************************************************
                                         end MODERN FORM form style
    *******************************************************************************************************/


} /* end media Query */


